@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


html,
body {
    background-image: url(../image/514278.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

#listaDesplegable {
    display: none;
}

#listaDesplegable li {
    color: rgb(0, 17, 255);
}

.title {
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    margin-top: 30px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.boton {
    border: 2px solid #f5f5f5;
    /* Borde del botón */
    color: #ffffff;
    /* Color del texto */
    background-color: transparent;
    /* Fondo transparente */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Transición suave */
}

.txtsug {
    border: 2px solid #f5f5f5;
    /* Borde del botón */
    color: #ffffff;
    /* Color del texto */
    background-color: transparent;
    /* Fondo transparente */
    padding: 10px;
    /* Ajusta el espaciado según tus necesidades */
    width: 100%;
    /* Establece el ancho al 100% de su contenedor */
    border-radius: 5px;
    cursor: auto;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Transición suave */
}

.txtsug:hover {
    background-color: #ffffff;
    /* Cambia el fondo al color principal */
    color: #010000;
    /* Cambia el color del texto a blanco */
}

/* Estilo para el botón de contorno cuando se pasa el cursor sobre él */
.boton:hover {
    background-color: #ffffff;
    /* Cambia el fondo al color principal */
    color: #010000;
    /* Cambia el color del texto a blanco */
}

.container {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgb(232, 223, 223);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgb(255, 255, 255);
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav>a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav>a:hover {
    text-decoration: underline;
}

.container .card img {
    width: 330px;
    height: 220px;
}


.container .card h4 {
    font-weight: 600;
}

.container .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}